.container {
  width: auto;
  margin: auto;
}

.banner {
  background-image: url(../../images/TomGalaxy.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px 50px;
}


.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

@media(min-width: 100px) {
  .banner {
    background-position: center;
    padding: 100px 50px;
    }
  .banner h1 {
  font-size: 25px;
  }

  .banner p {
  font-size: 10px;
  }
}

@media(min-width: 600px) {
  .banner {
    background-position: center;
    padding: 100px 50px;
    }
  .banner h1 {
  font-size: 35px;
  }

  .banner p {
  font-size: 17px;
  }
}
